/* navbar */
.main-logo {
    max-width: 100%;
    max-height: 10vh;
    padding: 10px;
} 
#nav-container {
    background-color: #000000;
    min-height: 10vh;
}
#ul-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#mobile-demo {
    background-color: #000000;
}
#mobile-demo li a {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 40px;
}
.material-icons:hover {
    transform: scale(1.05);
    color: rgb(241, 225, 176);
}
.nav-text {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-right: 1rem;
}
.nav-text:hover {
    transform: scale(1.05);
    color: rgb(241, 225, 176);
}

@media (max-width: 992px) {
    #logo-container {
    display: flex;
    justify-content: center;
}
    #hamburger-icon {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    }
}
@media only screen and (max-width : 992px) {
    header, main, footer {
    padding-left: 0;
    }
}
/* end navbar */

/* General layout */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Geist", sans-serif;
    font-weight: 200;
    font-optical-sizing: auto;
    justify-content: center;
} 
i.fa-solid.fa-cart-shopping {
    padding-right: 30px;
    cursor: pointer;
}
i.fa-solid.fa-cart-shopping:hover {
    transform: scale(1.1);
}
#products-heading {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-top: 35px;
    color: #000000;
}
.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(218px, 1fr));
    width: 100%;
    padding: 50px 15px;
}

/* Product cards */
.product-card {
    border:1px solid rgb(0, 0, 0);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 9px rgb(74, 74, 74);
    text-align: center;
    justify-content: center;
    align-items: center;
}
.product-card:hover {
    transform: scale(1.02);
}
#product-IMG {
    display: inline-block;
    text-align: center;    
    width: 100%;
    height: 300px;
    padding: 0;
    object-fit: contain;
}
.product-info {
    padding: 15px;
}
.product-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 3px;
    color: black;
}
.product-price {
    font-size: 1.1em;
    color: black;
    margin-bottom: 10px;
}
.product-description {
    text-align: center;
    font-size: 1em;
    color: #000000;
    font-weight: bolder;
    line-height: 1.2;
    padding-bottom: 7px;
}
.product-colorway {
    font-size: 0.9em;
}

/* Add to cart button */
#atc-btn {
    background-color: rgb(241,225,176);
    padding: 5px 8px;
    margin: 1em;
    border-radius: 5px;
    cursor: pointer;
}
#atc-btn:hover {
    background-color: rgb(229, 197, 103);
}

/* Footer CSS */
footer {
    padding: 40px;
    background-color: black;
    display: flex;
    flex-direction: row;
}
footer a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    font-size: 18px;
    color: rgb(241, 225, 176);
}
footer a:hover {
    color: rgb(255, 196, 20);
}
footer p {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;
    color: rgb(198, 0, 25);
    text-shadow: 0.5px 0.5px rgb(241, 225, 176) ;
    font-family: "Galada", cursive;
}


/* Media queries */
@media (max-width: 420px) {
    #atc-btn {
        padding: 10px 16px;
        font-size: 1.5rem;
    }
}
@media (max-width : 617px) {
    footer a {
        padding: 20px;
    }
}
@media (min-width: 1730px) {
    .grid-container {
        padding-right: 70px;
        padding-left: 70px;
        gap: 80px;
    }
}