html, body {
    /* display: grid; */
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(241,225,176);
    font-family: "Geist", sans-serif;
    font-weight: 200;
    font-optical-sizing: auto;
}

/* navbar */
.main-logo {
    max-width: 100%;
    max-height: 10vh;
    padding: 10px;
} 

#nav-container {
    background-color: #000000;
    min-height: 10vh;
}
li a {
    font-size: 30px;
}

#ul-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#mobile-demo {
    background-color: #000000;
}
#mobile-demo li a {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 40px;
}
@media (max-width: 992px) {
    #logo-container {
    display: flex;
    justify-content: center;
}

    #hamburger-icon {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    }
}

/* header, main, footer {
    padding-left: 300px;
} */

@media only screen and (max-width : 992px) {
    header, main, footer {
    padding-left: 0;
    }
}
/* end navbar */

.navi-container {
    display: flex;
    align-items: flex-end;
    background-color: black;
    
    
}

/* .hero-image {
    display: block;
    background-image: url(images/nyjahHero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 600px;
    width: 100%;
    margin-top: 35px;
    padding: 0;
} */
.sotm {
    display: flex;
    background-image: url(images/nyjahHero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    position: relative;
    height: 550px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero-image:hover {
    opacity: 20%;
}

#hero-name {
    color: red;
    text-shadow: 2px 2px black;
}
.hero-text {
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 35px;
    margin: 0;
    padding: 0;
    color: green;
    text-shadow: 1px 1px black;
}

.latestContent {
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 60px;
    background-image: url(images/thrashContent.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
    /* width: 150px; */
}

#shopall-btn {
    color: rgb(241, 255, 176);
    padding: 20px 40px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color:  rgb(41, 41, 41);
    opacity: 0.7;
}
#shopall-btn:hover {
    color: red;
    transform: scale(1.02);
    background-color: rgb(0, 0, 0);
}

#content-text {
    text-align: center;
    text-overflow: none;
    color: white;
    padding: 125px 150px;
    font-size: 65px;
}

footer {
    padding: 40px;
    background-color: black;
    display: flex;
    flex-direction: row;
}

footer a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    font-size: 18px;
    color: rgb(241, 225, 176);
}
footer a:hover {
    color: rgb(255, 196, 20);
}

footer p {
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    color: rgb(255, 0, 0);
    /* text-outline: rgb(241,225,176); */
}