body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(241,225,176);
    font-family: "Geist", sans-serif;
    font-weight: 200;
    font-optical-sizing: auto;
}

/* navbar */
.main-logo {
    max-width: 100%;
    max-height: 10vh;
    padding: 10px;
} 

#nav-container {
    background-color: #000000;
    min-height: 10vh;
}
li a {
    font-size: 30px;
}

#ul-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#mobile-demo {
    background-color: #000000;
}
#mobile-demo li a {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 40px;
}
.material-icons:hover {
    transform: scale(1.05);
    color: rgb(241, 225, 176);
}
.nav-text {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-right: 1rem;
}
.nav-text:hover {
    transform: scale(1.05);
    color: rgb(241, 225, 176);
}

@media (max-width: 992px) {
    #logo-container {
    display: flex;
    justify-content: center;
}

    #hamburger-icon {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    }
}
@media only screen and (max-width : 992px) {
    header, main, footer {
    padding-left: 0;
    }
}
/* end navbar */

.navi-container {
    display: flex;
    align-items: flex-end;
    background-color: black;
    
    
}
i.fa-solid.fa-cart-shopping {
    padding-right: 30px;
    cursor: pointer;
}
i.fa-solid.fa-cart-shopping:hover {
    transform: scale(1.1);
}

.sotm {
    display: flex;
    background-image: url(images/nyjahHero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    position: relative;
    height: 550px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero-image:hover {
    opacity: 20%;
}

#hero-name {
    color: rgb(198, 0, 25);
    text-shadow: 2px 2px rgb(241, 225, 176);
    font-family: "Galada", cursive;
}
.hero-text {
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 35px;
    margin: 0;
    padding: 0;
    color: green;
    text-shadow: 1px 1px black;
}

#shopall-btn {
    color: rgb(241, 255, 176);
    padding: 20px 40px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color:  rgb(41, 41, 41);
    opacity: 0.7;
}
#shopall-btn:hover {
    color: red;
    transform: scale(1.02);
    background-color: rgb(0, 0, 0);
}

#content-text {
    text-align: center;
    text-overflow: none;
    /* overflow: hidden; */
    color: white;
    padding: 125px 150px;
    font-size: 65px;
}

.carousel {
    height: 600px;
    perspective: 250px;
    justify-content: center;
    text-align: center;
    color: rgb(255, 9, 9);
    text-shadow: 0px 1px rgb(241, 225, 176);
    margin: 2rem 0 2rem 0;
    background-color: black;
}
#thrash-header{
    text-align: center;
}
.carousel img {
    display: block;
    /* padding-top: 80px;
    padding: 20px; */
    width: fit-content;
    height: fit-content;
    object-fit: cover;
    scale: 2;
    /* min-height: 900px; */
}

/* #thrash-btn {
    margin-top: 210px;
    font-size: 1.3rem;
    padding: 10px 10px;
    border-radius: 0.8rem;
    background-color: rgb(241,225,176);
} */

footer {
    padding: 40px;
    background-color: black;
    display: flex;
    flex-direction: row;
    
}

footer a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    font-size: 18px;
    color: rgb(241, 225, 176);
}
footer a:hover {
    color: rgb(255, 196, 20);
}

footer p {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;
    color: rgb(198, 0, 25);
    text-shadow: 0.5px 0.5px rgb(241, 225, 176) ;
    font-family: "Galada", cursive;
}

@media (max-width : 670px) {
    .carousel img {
        scale: 1.4;
    }
    .sotm {
        background-position: center;
        background-size: cover;
    }

}
@media (min-width : 1530px) {
    .carousel img {
        padding: 2rem 0 2rem 0;
        scale: 2.1;
    }

}